.topdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
.productpic {
  width: 60%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.largpic {
  width: 82%;
  height: 100%;  
}
.largpic img {
  width: 100%;
  height: 100%;
    border-radius: 10px;

}
.smallpic {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.smallpic img {
  width: 80%;
  height: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(182, 182, 182);

}
.productdetail {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.productdetail h1 {
  margin: 40px 0px;
}

.dDiscount {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 25px;
  border-radius: 5px;
}
.dprice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin:  20px 0 50px 0px;
  text-align: center;

}
.dnewprice{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.dprice h6 {
  font-size: 24px;
  color: rgb(11, 182, 11);
}
.dprice p {
  font-size: 20px;
  text-decoration: line-through;
}
.dinformation p {
  font-size: 24px;
  margin: 15px 0px;
  color: rgb(67, 67, 67);
}
.dexist {
  font-size: 24px;
  color: rgb(11, 182, 11);
}
.dnotexist {
  font-size: 24px;
  color: red;
}
.dbuy {
  width: 30%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.dlikef,
.dliket {
  width: 23%;
  height: 100%;
  border: 1px solid rgb(193, 191, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.dlikef svg {
  font-size: 40px;
  color: blue;
}
.dliket {
  font-size: 30px;
  color: red;
}
.buttonbuy {
  width: 70%;
  height: 100%;
  background-color: blue;
  color: white;
  font-family: shabnam;
  font-size: 25px;
  border: none;
  border-radius: 10px;
}
.dplus,
.dmines,
.dtrash {
  width: 25%;
  height: 100%;
  border: 1px solid rgb(193, 191, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
 
}
.dplus,
.dmines,
.dtrash svg {
  font-size: 28px;
  color: blue;
}
.dlikef:hover,
.dliket:hover,
.dplus:hover,
.dmines:hover,
.dtrash:hover {
  background-color:rgb(228, 227, 227);
}
.numbers {
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.numbers p {
  font-size: 24px;
}
.productnumbers {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.middelmdiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parentfeature {
  width: 95%;
  height: 80px;
  border: 1px solid rgb(193, 191, 191);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 50px 0;
}
.dsupport {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dsupport svg {
  font-size: 40px;
  margin-left: 20px;
  color: blue;
}
.dsupport h6 {
  font-size: 20px;
}
.dPayment {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dPayment svg {
  font-size: 40px;
  margin-left: 20px;
  color: blue;
}
.dPayment h6 {
  font-size: 20px;
}
.dWarranty {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dWarranty svg {
  font-size: 40px;
  margin-left: 20px;
  color: blue;
}
.dWarranty h6 {
  font-size: 20px;
}
.dpost {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dpost svg {
  font-size: 40px;
  margin-left: 20px;
  color: blue;
}
.dpost h6 {
  font-size: 20px;
}
.menudescription {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menudescription div {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menudescription h6 {
  font-size: 20px;
}
.buttomdiv {
  width: 95%;
  border: 1px solid rgb(193, 191, 191);
  border-radius: 10px;
  margin-bottom: 20px;
}
.viwe {
  background-color: rgb(233, 233, 233);
  border-bottom: 2px solid blue;
}
.viwe h6 {
  color: blue;
}
.dDescription {
  width: 100%;
  height: 150px;
  padding: 15px;
  border-top: 1px solid rgb(193, 191, 191);
}
.dDescription p {
  font-size: 18px;
}
.dSpecifications {
  width: 95%;
  height: auto;
  display: flex;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
 
}
.dSpecifications table {
  width: 100%;
  table-layout: fixed;
    border: 1px solid rgb(193, 191, 191);
    border-collapse: collapse;
  border-radius: 10px;
}
.dSpecifications td {
  height: 70px;
  padding-right:20px ;
    border: 1px solid rgb(193, 191, 191);


}
.dSpecifications tr {
 font-family: shabnam;
  font-size: 18px;
}
.dSpecifications tr:nth-child(odd) {
  background-color: rgb(237, 236, 236);
   
}
.dSpecifications th {
  border: 1px solid rgb(193, 191, 191);
  text-align: start;
  padding-right: 20px;
}
