.parent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(221, 220, 220);
    position: fixed;
    z-index: 1000;
    background-color: white;
}
.topdiv{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 0 30px;
}
.dlogo{
    width: 15%;
    height: 100%;
    
}
.dlogo img {
    width: 100%;
    height: 100%;
}

.dsearch{
     width: 45%;
    height: 35%;
    background-color: rgb(237, 237, 238);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 10px rgb(231, 230, 230);
    border-radius: 10px;
    
}
.dsearch input{
    width: 80%;
    height: 20%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-family: shabnam;
}
.iconsearch{
    width: 15%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 25px;

}
.dicon{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconprofile{
    font-size: 35px;
    display: flex; 
       
}
.iconcart{
    position: relative;
}
.iconcart svg{

    font-size: 35px;
    color: blue;
}
.tedadproduct{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 6px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.diconuser{
    display: flex;
    align-items: center;
}
.diconuser p{
    margin: 10px;
}
.bottomdiv{
    width: 65%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.bottomdiv a{
    font-size: 15px;
    text-decoration: none;
    color: inherit;

}
.bottomdiv a:hover{
    color: blue;
    cursor: pointer;

}
.bottomdiv button{
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    border: none;
    background-color: inherit;
    font-family: shabnam;
    
}
.bottomdiv button:hover{
    color: blue;
    cursor: pointer;

}
.hambermenu{
    display: none;
}
.hambermenu svg{
    font-size: 32px;
}
@media (max-width: 1000px) {
    .topdiv{
        margin-bottom: 10px;
    }
    .diconuser{
        display: none;
    }
    .hambermenu{
        display: flex;
        justify-content: center;
    }
    .bottomdiv{
        display: none;
    }
}
@media (max-width: 600px) {
    .dsearch{
        display: none;
    }
    .dlogo{
        width: 40%;
    }
    .dicon{
        width: 30%;
    }
    
}