.hcategory{
    font-size: 48px;
    padding: 30px;
}
.back{
    width: 100%;
    display: flex;
    justify-content: space-around ;
}
.dright{
    width: 75%;
    height: auto;
}
.dleft{
    width: 22%;
    height: auto;
}

.dfilter{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgb(220, 219, 219);
    box-shadow: 1px 1px 10px rgb(246, 246, 246);
    display: flex;
    align-items: center;

}
.dfilter p{
    margin: 30px;
    font-size: 18px;
}
.dfilter div {
    border: none;
    border: 1px solid rgb(225, 225, 225);
    padding: 5px;
    border-radius: 5px;
}
.dfilter select{
    border: none;
    font-family: shabnam;
    outline: none;
}
.dproduct{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 10px;
    margin-top: 20px;
    border: none;
}
.dproduct > *{
    min-height: 500px;
}
.dprice{
    width: 100%;
    height: 370px;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 10px;
    margin-bottom: 3px;
}
.dprice h3 {
    font-size: 24px;
    padding: 20px;
}
.dprice p{
    font-size: 24px;
    padding: 20px;

}
.dslider{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px  30px;
}
.dslider p{
    font-size: 18px;
}
.dslider button{
    width: 50%;
    height: 28%;
    font-family: shabnam;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 1px 1px 10px rgb(225, 225, 225);
    border-radius: 10px;
    margin-top: 10px;
}
.dbrand{
    width: 100%;
    height: 370px;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 10px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
}
.dbrand p{
    font-size: 24px;
    padding: 30px;
}
.dbrand label{
    display: flex;
    justify-content: space-between;
    font-family: shabnam;
    font-size: 22px;
    padding: 17px 60px;
}
.dbrand input{
    width: 20px;
}